.ul-navbar {
    list-style-type: none;  
    padding: 0;        
    margin: 0;              
}

.a-navbar {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    padding: none;
    margin: 0;
}

.sedot_wc{
    text-decoration: none;
}

.tombolHome{
    background-color: rgb(105, 136, 248);
    border-radius: 7px;
    transition: .2s ease-in-out;
    transition-delay: .2s;

}

  .hobing_60 {
   display: block; 
   margin-left: auto;
   margin-right: auto;
   width: 100px;
   height: 150px;
  }
  .hobing-60 {
   width: 100px;
   height: 150px;
  }
  .sublist {
    list-style-type: none;
    counter-reset: sublist;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
  
  .sublist > li {
    counter-increment: sublist;
    position: relative;
    padding-left: 1.5em;
  }
  
  .sublist > li::before {
    content: counter(sublist) ") ";
    position: absolute;
    left: 0;
  }
  .highlight {
    background-color: yellow;
    font-weight: bold;
}
.card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}
.langkah2{
    background-color:rgb(212, 135, 212);
    width: 100;
    padding: 5px;
    
}